<div>
<div class="card" style="width: 18rem;">
  <img src="https://i.ytimg.com/vi/MrzCD-gdXf4/hqdefault.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Toca Aqui para acceder a los memes.</h5>
    <p class="card-text">Toca Aqui para acceder a los memes.</p>
    <a href="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjo0f2tg9DiAhVIvZ4KHUQfCWYQjRx6BAgBEAU&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fwww.youtube.com%252Fwatch%253Fv%253DMrzCD-gdXf4%26psig%3DAOvVaw2xb8fgoJTxzw8LI8O526Mo%26ust%3D1559744514469506&psig=AOvVaw2xb8fgoJTxzw8LI8O526Mo&ust=1559744514469506" class="btn btn-primary">M E M E S</a>
  </div>
  <div class="container m-2"></div>
  <div class="card" style="width: 18rem;" *ngIf="mostrar">
    <div class="card-header">
      {{frase.autor}}<br>
      {{frase.mensaje}}
    </div>
    <ul class="list-group list-group-flush" *ngFor="let per of personajes">
      <li class="list-group-item">{{per}}</li>
    </ul>
  </div>
</div>

<button (click)="mostrar = !mostrar" type="button" class="btn btn-primary">Mostrar/Ocultar</button>
</div>